on:
  push:
    branches: ['main']
  pull_request:
permissions: read-all
jobs:
  release-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }} # checkout the branch instead of the pull request ref
          persist-credentials: false
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install release-plz
        uses: taiki-e/install-action@4c6723ec9c638cccae824b8957c5085b695c8085 # v2
        with:
          tool: release-plz
      - name: Release dry-run
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          release-plz release --verbose --forge=github --git-token="${GITHUB_TOKEN}" --token="${GITHUB_TOKEN}" --registry=crates-io --dry-run
